.contact {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 3%;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 2.2em;
  min-width: fit-content;
  font-size: 1.5em;
  border: 1px solid hsl(200, 80%, 40%);
  border-radius: 12px;
  transition: 0.2s linear all;
}

.link:hover {
  box-shadow: 0px 1px 10px 0.5px hsl(240, 6%, 49%, 0.5);
  transform: translateY(-1px);
  cursor: pointer;
}

.link .contact-icon {
  display: inline-block;
  width: 16%;
  height: 5rem;
  margin-right: 0.1em;
}

.link .contact-icon > svg {
  width: 100%;
  height: 100%;
}

.link p {
  margin-left: 1em;
}

/* linkedIn icon */
.linkedin {
  color: hsl(0, 0%, 100%);
  background-color: #5093E2;
}

.linkedin .contact-icon {
  width: 17%;
  color: hsl(0, 0%, 100%);
  background-color: #5093E2;
  fill: #e6e6e6ff;
}

/* email icon */
.email {
  color: black;
  background-color: hsl(0, 0%, 100%);
}